# point to mail machine (default mail1)
DB_HOST=172.16.127.102

# frontend
VITE_API_TARGET=http://mailsus.csie.org
VITE_PORT=55111

# DB settings
DB_NAME=Subscriptions
DB_USER=MailAdmin
DB_PASSWORD=password

# LDAP settings
LDAP_URI=ldaps://mockldap.nasa:636
LDAP_BIND_DN=uid=mailtest,ou=people,dc=csie,dc=ntu,dc=edu,dc=tw
LDAP_BIND_PASSWORD=<redacted>
LDAP_CA_CERT_FILE=./mockldap_ca.crt

# Mail Settings
SMTP_HOST=172.17.0.1
SMTP_PORT=1025
ALERT_EMAIL_SENDER=mailsub-alert@csie.ntu.edu.tw
