# Role-specific overrides written by the monitor
DB_HOST=172.16.127.102
REDIS_QUEUE_URL=redis://172.16.127.102:6379/0
REDIS_CACHE_URL=redis://172.16.127.102:6379/1
FLUSH_ENABLED=1
LAST_SYNC_FILE=/var/lib/mailsub/last_sync
